.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
  cursor: pointer;
}

@media screen and (max-width: 918px) {
  .header__logo {
    margin: 0 19px 41px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin: 0 0 28px 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
