.form__error {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: #FF0000;
  min-height: 30px;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
}
