.form__save-button {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  background-color: black;
  padding: 14px 0;
  margin: 14px 0 0 0;
  border-radius: 2px;
  border: 1px solid #000000;
  cursor: pointer;
}

.form__save-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 620px) {
  .form__save-button {
    font-size: 14px;
    line-height: 17px;
  }
}
